# If you do not specify a namespace, the default used is aws:elasticbeanstalk:application:environment
option_settings:
  - option_name: SYMFONY__DATABASE__NAME
    value: somevalue
  - option_name: SYMFONY__DATABASE__HOST
    value: somevalue2
  - option_name: SYMFONY__DATABASE__PASSWORD
    value: somevalue2
  - option_name: SYMFONY__DATABASE__USER
    value: somevalue2
